:root {
  --primary: cadetblue;
  --secondary: rgb(170, 21, 83);
  --dark-grey: #999;
  --light-grey: #ccc;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: Lato;
}

header {
  background-color: var(--secondary);
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header ul {
  gap: 1rem;
}

header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: wheat;
}

main {
    flex: 1;              
    padding: 1rem;
    background-color: #f5f5f5; 
}

footer {
  background-color: var(--secondary);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
